/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #131313;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Contenedor principal */
.container {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background-color: #1a1818;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* Imagen del thumbnail */
#thumbnail-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}





/* Contenedor principal */
#loading_animation {
  display: none;
  position: relative;
  width: 60px;
  height: 60px;
  margin: 40px auto;
  perspective: 600px; /* Añadir perspectiva para el efecto 3D */
}

.nucleus {
  width: 60px;
  aspect-ratio: 1;
  display: grid;
}
.nucleus::before,
.nucleus::after {    
  content:"";
  grid-area: 1/1;
  --c:no-repeat radial-gradient(farthest-side,#ff0000 92%,#131313);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 13px 13px;
  animation: l12 1s infinite;
}
.nucleus::before {
  margin: 3px;
  filter: hue-rotate(45deg);
  background-size: 7px 7px;
  animation-timing-function: linear
}

@keyframes l12 { 
  100%{transform: rotate(.5turn)}
}



















/* Área de búsqueda */
.search-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #2b2b2b;
  color: #fff;
  font-size: 14px;
}

input::placeholder {
  color: #aaa;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #FF0000;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #cc0000;
}

/* Resultados */
#results {
  text-align: left;
  color: rgb(231, 231, 231);
}

#results a {
  color: #FF0;
  text-decoration: none;
  margin-bottom: 3px; /* Espacio entre cada resultado */
}

#results > div {
  margin-bottom: 15px;
}


#results a:last-child {
  margin-bottom: 0; /* Evita un margen extra en el último resultado */
}



      
